# Install:
#
# sudo systemctl link /home/pi/U6143_ssd1306/C/ssd1306.service
# sudo systemctl enable ssd1306
# sudo systemctl start ssd1306

[Unit]
Description=UCTRONICS ssd1306 OLED display
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/U6143_ssd1306/C/display

[Install]
WantedBy=multi-user.target
